<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Advertising demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': activeRoute === 'advertising'}">
        <a class="nav-link" (click)="setActiveRoute('advertising')" routerLink="/advertising">Advertising <span class="sr-only">(current)</span></a>
        <a class="nav-link" (click)="setActiveRoute('advertising/favorites')" routerLink="/advertising/favorites">Favorites</a>
      </li>

    </ul>
  </div>
</nav>

<ng-container *ngIf="!isLogged">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <p>
          <mat-form-field>
            <input type="number" name="userId" matInput placeholder="UserId" [(ngModel)]="userService.userId">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" name="username" matInput placeholder="Username" [(ngModel)]="userService.username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" name="password" matInput placeholder="Password" [(ngModel)]="userService.password">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-button (click)="login()">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="isLogged">
  <router-outlet></router-outlet>
</ng-container>

