<h1>Actives</h1>
<table mat-table [dataSource]="activeAdvertisings" class="example-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> AdId</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Text</th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> Detail</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="detail(element.id)">Further</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="activation">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="primary" (click)="setStatus(element.id)">Deactivate</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="openDialog(element.id)">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef> Favorite</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="accent"
              (click)="setFavoriteStatus(element.id)">{{element?.isFavorite ? 'Unfavorite' : 'Favorite'}}</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h1>Inactives</h1>
<table mat-table [dataSource]="inactiveAdvertisings" class="example-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> AdId</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Text</th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> Detail</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="detail(element.id)">Further</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="activation">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="setStatus(element.id)">Activate</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="warn" (click)="openDialog(element.id)">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef> Favorite</th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="accent"
              (click)="setFavoriteStatus(element.id)">{{element?.isFavorite ? 'Unfavorite' : 'Favorite'}}</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h1>Ratings</h1>
<div>
  Overall rating: {{overallRating}}
</div>
<div>
  <mat-progress-spinner [mode]="mode" [value]="overallRating*20"></mat-progress-spinner>
</div>
<div class="createRating">
  <mat-slider
    class="example-margin"
    [max]="5"
    [min]="1"
    [step]="1"
    [discrete]="true"
  >
    <input matSliderThumb [formControl]="ratingForm"></mat-slider>
</div>
<div class="button">
  <button type="submit" [disabled]="ratingForm.status == 'INVALID'" (click)="createRating()" mat-button>Save</button>
</div>
<div class="ratings">
  <mat-card *ngFor="let rating of ratings; let i = index" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Rating ID: {{rating.id}} User ID: {{rating.userId}}</mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="deleteRating(rating.id!)" *ngIf="!ratingModifyStatus[i]">Delete</button>
          <button mat-button (click)="enterModifyMode(i)" *ngIf="!ratingModifyStatus[i]">Modify</button>
          <div *ngIf="ratingModifyStatus[i]">
            <mat-slider
              class="example-margin"
              [max]="5"
              [min]="1"
              [step]="1"
              [discrete]="true"
            >
              <input matSliderThumb [formControl]="ratingForm"></mat-slider>
            <button mat-button (click)="modifyRating(rating,i)">Save</button>
            <button mat-button (click)="cancelModify(i)">Cancel</button>
          </div>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      VALUE: {{rating.ratingValue}}
    </mat-card-content>
  </mat-card>
</div>
