.text-form {
  min-width: 80%
}

.ad-form:first-of-type {
  margin-left: 0;
}

.upload-input {
  width: 25%;
  margin: 0 0 15px 0;
}

.images-preview-container {
  display: flex;
  width: fit-content;
  line-height: 45px;
  padding: 0 30px 5px 15px;
  border-style: inset;
  border-width: 2px;
}

.flex-items {
  padding: 0 0 0 25px;
}

.spacing {
  padding: 0 0 0 5px;
}

.image-upload-error {
  margin: 0 0 10px 0;
}

.uploaded-images {
  padding: 0 0 15px 0;
}
