<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cowork demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': activeRoute === 'advertising'}">
        <a class="nav-link" (click)="setActiveRoute('advertising')" routerLink="/advertising">Party <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item" [ngClass]="{'active': activeRoute === 'account'}">-->
<!--        <a class="nav-link" (click)="setActiveRoute('account')" routerLink="/account">Account</a>-->
<!--      </li>-->
<!--      <li class="nav-item" [ngClass]="{'active': activeRoute === 'transaction'}">-->
<!--        <a class="nav-link" (click)="setActiveRoute('transaction')" routerLink="/transaction">Transaction</a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
