<ng-container *ngIf="!editMode; else templateA">
  <p>Detail</p>
  <mat-card *ngIf=advertisingDto>
    <mat-card-content>
      <p>{{advertisingDto.id}}</p>
      <p>{{advertisingDto.userId}}</p>
      <p>{{advertisingDto.email}}</p>
      <p>{{advertisingDto.text}}</p>
      <p>{{advertisingDto.address}}</p>
      <p>{{advertisingDto.isActive}}</p>
      <!--Talán új kártya, de az adatok után lennének a ratingek-->
      <mat-card-actions>
        <button id="modifyButton" mat-button (click)="enterModifyMode()">Modify</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #templateA>
  <h2>Edit</h2>
  <mat-card *ngIf=advertisingDto>
    <label for="userId">UserId: </label>
    <input id="userId" [(ngModel)]="advertisingDto.userId" placeholder="UserId">
    <label for="userId">Email: </label>
    <input id="email" [(ngModel)]="advertisingDto.email" placeholder="Email">
    <label for="text">Text: </label>
    <input id="text" [(ngModel)]="advertisingDto.text" placeholder="Text">
    <label for="address">Address: </label>
    <input id="address" [(ngModel)]="advertisingDto.address" placeholder="Address">
    <mat-card-actions>
      <button id="saveButton" mat-button (click)="save()">Save</button>
    </mat-card-actions>
  </mat-card>
</ng-template>


