<div class="party-table">
  <table mat-table [dataSource]="everyUser" class="example-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> AdId</th>
      <td mat-cell *matCellDef="let element">{{element.userId}}</td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef> AdId</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="switchToUserAds(element.userId)">Further</button>
      </td>
    </ng-container>
  </table>
</div>
