.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title {
  padding: 0 0 15px 0;
}

.button {
  display: flex;
  justify-content: flex-end;
}
